html,
body {
  color: #333;
  font-size: 16px;
  line-height: 20px;
}
body {
  margin: 20px;
  background-color: #ff4d4d;
}

h1 {
  line-height: 1.2;
  margin-bottom: 35px;
  text-align: center;
}

.container {
  margin: 0 auto !important;
  border-top: 150px solid #ff4d4d;
}

.chat-container {
  margin: 0 auto !important;
  border-top: 30px solid #ff4d4d;
}

.input {
  width: 320px;
  text-align: center;
  position: center;
  margin: 0 auto !important;
  margin-right: 0;
  float: left;
}

.btn {
  float: right;
  margin-left: 0;
  width: 70px;
}

.scroll {
  height: 50vh; /* %-height of the viewport */
  width: 50vh;
  position: center;
  overflow-y: scroll;
  margin: 0 auto !important;
  background-color: white;
}

.form-group {
  margin: 0 auto 50px;
  width: 200px;
  height: 40px;
  padding: 15px;
  position: relative;
}

/** Speech bubble */

.past-bubble {
  background: #efefef;
  border-radius: 4px;
  font-size: 1.2rem;
  line-height: 1.3;
  margin: 0 auto 40px;
  max-width: 400px;
  padding: 15px;
  position: relative;

  .past-bubble {
    margin: 0 0 10px;

    :last-of-type {
      margin-bottom: 0;
    }
  }

  &::after {
    border-left: 20px solid transparent;
    border-top: 20px solid #efefef;
    bottom: -20px;
    content: "";
    position: absolute;
    right: 20px;
  }
}

/** Speech bubble with drop shadow and border */

.new-bubble {
  background: #efefef;
  border: 1px solid #a7a7a7;
  border-radius: 4px;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  line-height: 1.3;
  margin: 0 auto 40px;
  max-width: 400px;
  padding: 15px;
  position: relative;
}
.new-bubble p {
  margin-bottom: 10px;
}
.new-bubble p:last-of-type {
  margin-bottom: 0;
}
.new-bubble-arrow {
  border-left: 21px solid transparent;
  border-top: 20px solid rgba(0, 0, 0, 0.2);
  bottom: -25px;
  position: absolute;
  right: 15px;
}


.new-bubble-arrow::before {
  border-left: 23px solid transparent;
  border-top: 23px solid #a7a7a7;
  bottom: 2px;
  content: "";
  position: absolute;
  right: 5px;
}
.new-bubble-arrow::after {
  border-left: 21px solid transparent;
  border-top: 21px solid #efefef;
  bottom: 4px;
  content: "";
  position: absolute;
  right: 6px;
}

.slidecontainer {
  width: 50%; /* Width of the outside container */
  margin: 0 auto;
}

/* The slider itself */
.slider {
  text-align: center;
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 50%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  margin: 0 auto !;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4caf50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4caf50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
