html,
body {
  color: #333;
  font-size: 16px;
  line-height: 20px;
}
body {
  margin: 20px;
  background-color: white;
}

h1 {
  line-height: 1.2;
  margin-bottom: 35px;
  text-align: center;
}

.container {
  margin: 0 auto !important;
  border-top: 150px solid white;
}

.chat-container {
  margin: 0 auto !important;
  border-top: 30px solid white;
}

#userInput {
  width: 380px;
  text-align: center;
  position: center;
  margin: 0 auto !important;
  margin-right: 0;
  float: left !important;
}

.btn {
  float: right !important;
  margin-left: auto !important;
  width: 70px;
}

.scroll {
  height: 50vh;
  width: 50vh;
  position: center;
  overflow-y: scroll;
  border-radius: 10px;
  margin: 0 auto !important;
  background-color: #ff4d4d;
}

#typebox {
  border-color: #ff4d4d;
  border: thick;
}

.form-group {
  margin: 0 auto 50px;
  width: 200px;
  height: 40px;
  padding: 15px;
  position: relative;
}

/** Speech bubbles **/

.bot-bubble, p {
  background: #efefef;
  border: 1px solid #a7a7a7;
  border-radius: 4px;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
  line-height: 1.3;
  margin: 0 auto 40px;
  max-width: 300px;
  padding: 15px;
  position: relative;
}

.user-bubble, p {
  background: #cecece;
  border: 1px solid #efefef;
  border-radius: 4px;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  line-height: 1.3;
  margin: 0 auto 40px;
  max-width: 300px;
  padding: 15px;
  position: relative;
}
